## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("vacation_search/weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Rikitea,PF,75.45,broken clouds,-23.1203,-134.9692,People ThankYou
1,12,Atuona,PF,78.12,scattered clouds,-9.8000,-139.0333,Villa Enata
2,50,Acapulco,MX,78.06,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,57,Pointe-Noire,CG,78.87,overcast clouds,-4.7761,11.8635,Kactus Lodge
4,59,Sao Miguel Do Araguaia,BR,75.33,light rain,-13.2750,-50.1628,Hotel Executivo Palace

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Baturaja")])
vacation_end = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Baturaja")])
vacation_stop1 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Bengkulu")])
vacation_stop2 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Padang")]) 
vacation_stop3 = pd.DataFrame(vacation_df.loc[(vacation_df["City"] == "Lhokseumawe")])

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
99,685,Baturaja,ID,75.85,overcast clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [7]:
start = vacation_df.loc[(vacation_df["City"] == "Caravelas")][["Lat", "Lng"]]
start

        Lat      Lng
25 -17.7125 -39.2481

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_df.loc[(vacation_df["City"] == "Baturaja"),["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_df.loc[(vacation_df["City"] == "Baturaja")][["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_df.loc[(vacation_df["City"] == "Bengkulu")][["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_df.loc[(vacation_df["City"] == "Padang")][["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_df.loc[(vacation_df["City"] == "Lhokseumawe")][["Lat", "Lng"]].to_numpy()[0])

start

(-4.1333, 104.1667)

In [9]:

vacation_df.loc[(vacation_df["City"] == "Baturaja"),["Lat", "Lng"]].to_numpy()[0][0]

-4.1333

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(0.0, 100.0), zoom_level=5.0)
roadtrip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(roadtrip)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,685,Baturaja,ID,75.85,overcast clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
1,480,Bengkulu,ID,75.34,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,368,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang
3,654,Lhokseumawe,ID,77.85,overcast clouds,5.1801,97.1507,OYO 3278 Penginapan Alfajri
4,685,Baturaja,ID,75.85,overcast clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(0.0, 100.0), zoom_level=5.0)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""


hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)